@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins";
  color: #2f2cb7;
}

.container {
  width: 85%;
  max-width: 1920px;
  margin-inline: auto;
}

header {
  position: sticky;
  background-color: #e8e8fd;
  padding: 1rem 0;
}
.menu-open {
  display: none;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  font-weight: 500;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  font-size: 1.1rem;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5rem;
  background-color: transparent;
  transition: all 100ms linear;
}
nav ul a:hover {
  color: white;
  background-color: #2f2cb7;
}

@media (max-width: 1100px) {
  header .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
@media (max-width: 860px) {
  /* .menu-open {
    display: inline-block;
  }
  .menu-open:focus + ul {
    display: block;
  } */
  nav ul {
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

/* Hero Section  */

.hero {
  background-image: linear-gradient(to right, #02005c76 0%, #02005c76 100%),
    url(https://earthsky.org/upl/2018/09/103334071-Page_1_SLS_In_Flight.1910x1000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
  padding-block: clamp(3rem, 20vw, 150px);
  text-align: center;
  margin-bottom: 5rem;
}
.hero h1 {
  font-size: clamp(2rem, 6vw, 3rem);
  text-transform: uppercase;
}
.hero h2 {
  font-weight: 300;
}
.hero p {
  margin-inline: auto;
  margin-top: 1rem;
  max-width: 900px;
}

/* Prodcuts Section  */

.products h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.products-list {
  --grid-layout-gap: 2rem;
  --grid-column-count: 3;
  --grid-item--min-width: 250px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}
.card {
  border-radius: 5px;
  overflow: hidden;
  font-family: arial;
  background-color: #f6f6fd;
}

.card .details {
  padding: 1rem;
}
.card .details .main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.price {
  color: grey;
  font-size: 22px;
  font-weight: bold;
}

.card button {
  border: none;
  padding: 12px;
  color: white;
  font-weight: bold;
  background-color: #2f2cb7;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
}

.card button:hover {
  background-color: #302f8f;
}
